.box {
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--color-border);
  box-sizing: border-box;
  height: 18px;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease;
  width: 18px;
}

.checkmark {
  fill: var(--color-on-primary);
  height: 14px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 14px;
}

.container {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;

  &:hover {
    .hover {
      background-color: var(--color-hover);
    }
  }
}

.hover {
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
}

.input {
  opacity: 0;

  &:checked ~ .box {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    .checkmark {
      display: block;
      opacity: 1;
    }
  }
}
